*{
  margin: 0;
}

.navbar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(../imagenes/fondo_web_chico.png);
  height: 90px;
  padding: 0px 0px !important;
}
.navbar ul{
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}
a {
  text-decoration: none !important;
  color: black !important;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
img {
  width: 100%;
  height: 200px; /* Ajusta la altura que desees */
  object-fit: cover; /* Mantiene la proporción sin deformar y cubre todo el contenedor */
}
.navbar img {
  margin: 0px;
  height: 100%; /* La imagen toma la misma altura que el Navbar */
  width: 150px; /* Mantiene las proporciones */
}

.cartWidget-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

